{%extends 'master.html' %}
{%block title%}
<title>about us</title>
{%endblock title%}
{%block body%}
<div style="height: 400px; width: 100%;
background-image: url(https://thekiranacademy.com/img/about-banner-min.png);
background-size: cover; padding: 50px;"> </div>

<div style="height: 20px; width: 100%; background-color: white;"></div>
<div style="height: 600px; width: 100%; display: flex
;justify-content: space-evenly;
background-size: cover; padding: 50px;">
<div style="height: 90%; width: 50%; background-color: aqua;background-image: url(https://thekiranacademy.com/img/about-our-mission-img-min.png)">

</div>
<div style="height: 90%; width: 50%;background-color:#ACC8E5; color: #112A46; padding: 25px;">
    <p ><h3>Our Mission</h3>
        Remove the barriers to being employed. Our single motto is to provide equal education and job opportunities.
        The Kiran Academy takes the first step toward a rewarding career in the field of Information Technology. Our classes are designed to provide students with a comprehensive understanding of the latest technologies and tools used in the industry, as well as the knowledge and skills they need to succeed.
        
        Don't miss this opportunity to take your career to the next level. Sign up for our IT classes today and start your journey toward a rewarding career in the field of Information Technology.</p>
</div>

 </div>



<div style="height: 20px; width: 100%; background-color: white;"></div>

<div style="height: 700px; width: 100%;
;
 padding: 50px; background-color: blueviolet;
 display: flex;justify-content: space-evenly;"> 
<div style="height: 90%;width: 50%;background-color: aliceblue; padding: 25px;">
<p><h3>Our Roots</h3>
    <img src="https://thekiranacademy.com/img/about-rectangle-img.png" alt="">
    Kiran Digrase
    <h4>Founder</h4>
    He established the academy in 2014.
    He was employed by several multinational corporations for nearly 14 years.
    He has instructed over 15,000 students, and the number continues to increase daily.
    To date, numerous projects have been completed, and he is well-versed in the payment and eCommerce industries.</p>



</div> 
<div style="height: 90%;width: 50%;background-color: rgb(182, 194, 24); padding: 25px;">
    <p><h2 style="color: #830e31;">Methods</h2>
        <h4>1. Training</h3>
        Our trainers are individuals who have left the IT industry to pursue their passion for teaching on a full-time basis.
        <br>

        <h4>2. Multiple trainers</h3>
        We provide multiple instructors for each course, allowing students to receive training from a team of trainers.
        <br>

        <h4>3. Doubt resolution</h3>
        We offer a designated time during each session for addressing and resolving any questions or concerns.
        <br>
        <h4>4. Revision Lectures</h3>
        We provide revision lectures to ensure that our students have a solid understanding of the material covered.
        <br>
        <h4>5. Placement</h3>
        We ensure that every student is given multiple opportunities for job interviews, and we take responsibility for it.</p>
</div> 



</div>
<div style="height: 20px; width: 100%; background-color: white;"></div>



<footer>
    <div style="height: 25px;width: 100%;background-color: #e6e8e6;"></div>
    <div style="height: 400px;
     width:100% ;
     color:#e6e8e6;
    background-color: #080708;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 25px 10px 10px 25px;">
    <div style="height: 300px; width: 200px; background-color:#080708; color: #e6e8e6;">
      <ul>
        <h4 style="color: #fdca40;">Quick links</h4> 
        <a class="foot" href="{%url 'home' %}">Home</a><br>
        <a class="foot"href="{%url 'aboutus' %}">About us</a><br>
        <a class="foot"href="#">Careers</a>
        <a class="foot"href="">Contact Us
        </a>
  
      </ul>
    </div>
    <div style="height: 300px; width: 200px; background-color:#080708">
     <h4 style="color: #fdca40;"> Popular Courses</h3>
      <ul>
        <a class="foot"href="">Java</a><br>
        <a class="foot"href="">Python</a><br>
        <a class="foot" href="">AWS</a></ol>
    </div>
    <div style="height: 300px; width: 200px; background-color:#080708;">
      <p><img src="https://thekiranacademy.com/img/footer-logo.png" alt="">
        <hr>
  
        Copyright © 2022 The Kiran Academy
  
        Powered By Thundercube Pvt Ltd</p>
    </div>
      
    </div>
  </footer> 
{%endblock body%}